.center {
	text-align: center;
}

.btn-warning {
	color: #000;
    background-color: #f9e46b;
    border-color: black;
    font-weight: bold;
}

.btn-warning:hover {
	color: #fff;
    background-color: #c9a90c;
    border-color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

.alert-success {
	width: 30%; 
	text-align: center; 
	margin-top: 75px; 
	font-size: 120%; 
	margin-left: 35%
}

.alert-success2, .alert-danger2 {
	width: 50%; 
	text-align: center; 
	font-size: 100%; 
	margin-left: 10%
}

.panel-warning>.panel-heading {
	color: #000;
    background-color: #f9e46b;
    border-color: #fff;
}

.table {
	background-color: #f9f9f9;
	font-size: 90%;
}

.table>thead>tr {
	background-color: #fff !important;
	font-size: 115% !important;
}

.table>tbody>tr>td:nth-child(4), .table>thead>tr>th:nth-child(4){
	text-align: right !important;
	padding-right: 20px;
	font-weight: bold;
}

.table>tbody>tr>td:nth-child(1), .table>thead>tr>th:nth-child(1){
	padding-left: 20px;
}

.right-block {
	width: 40%; 
	margin-left: 3%;
	margin-right: 7%; 
	float:right; 
	display: inline-block;
}

.left-block {
	width: 40%; 
	margin-left: 7%;
	margin-right: 3%; 
	float:left; 
	display: inline-block;
}

.center-block {
	width: 44%; 
	margin-left: 28%;
	margin-right: 28%; 
}

textarea {
   resize: vertical;
}

.error {
	font-size: 80%;
	color: red;
}


.form-control-red {
  border-color: #FF0000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.table-success {
	background-color: #d8ffe1 !important;
}
