
<html lang="pl"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A&H Banking - account</title>
    <link rel="Shortcut icon" href="money128.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="account.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#">
                <img alt="Brand" src="money128.png" style="height: 40px; width: 40px; margin-top: 5px; float: left">
            </a>
            <p class="navbar-text" style="color: black; font-weight: bold">A&H Banking</p>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a th:href="@{/account}">Account <span class="sr-only">(current)</span></a></li>
        <li><a th:href="@{/transaction}">Transactions</a></li></ul>
        <p class="navbar-text" style="float: right; color: black; margin-top: 8px; margin-bottom: 0px"><a th:href="@{/logout}"><button class="btn btn-default"><span class="glyphicon glyphicon-off"></span> Logout</button></a></p>
        <p class="navbar-text" style="float: right">Hello, <span th:text="${user.name}"></span>!</p>
    </div>
</nav>
<div class="panel panel-warning left-block">
    <div class="panel-heading" style="text-align: center;">
        <span class="glyphicon glyphicon-home"></span><b> ACCOUNT DETAILS</b>
    </div>
    <div class="panel-body">
        <h3>Hello, <span th:text="${user.name}">Jan Nowak</span>!</h3><br>
        <p><h4>Your account number is: <b><span id="userAccountNo" th:text="${user.accountNo}">1234567890123456</span></b></h4></p>
        <p><h4>Available cash: <b><span style="color:green"><span th:text="${#numbers.formatDecimal(user.cash, 0, 'WHITESPACE', 2, 'POINT')}" >901.0</span> PLN</span></b></h4></p><br>
    </div>
</div>
<div class="panel panel-warning right-block">
    <div class="panel-heading" style="text-align: center;">
        <span class="glyphicon glyphicon-usd"></span><b> TRANSACTION HISTORY</b>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead style="font-weight: bold">
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Account No.</th>
                <th scope="col">Amount</th>
            </thead>
            <tbody>
            <tr th:each="t : ${tHistory}">
                <td  th:text="${#dates.format(t.date, 'dd.MM.yyyy')}"></td>
                <td  th:text="${t.title}"></td>
                <td  th:text="${t.accountNoTo}"></td>
                <td  th:text="${t.accountNoFrom}"></td>
                <td  class="last_td" th:text="${#numbers.formatDecimal(t.amount, 0, 'WHITESPACE', 2, 'POINT')}+' PLN'"></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>




</body></html>
