
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>A&H Banking - logout</title>
	<link rel="Shortcut icon" href="money128.png" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  	<div class="container-fluid">
   		<div class="navbar-header">
      		<a href="#">
        		<img alt="Brand" src="money128.png" style="height: 40px; width: 40px; margin-top: 5px; float: left">
      		</a>
      		<p class="navbar-text">Successfully logged out</p>
    	</div>
    	<p class="navbar-text" style="float: right">Unsigned user</p>
  	</div>
</nav>
<div class="center">
	<img src="logo.png" />
</div>
<div class="alert alert-success" role="alert">
	<img src="checked.png" style="height: 80px; width: 80px; margin-right: 20px" /><strong>You have been logged out successfully!</strong>
</div>
<div class="center">
	<a th:href="@{/login}"><button type="button" class="btn btn-success">Return to the main page</button></a>
</div>
</body>
</html>