
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A&H Banking - transactions</title>
    <link rel="Shortcut icon" href="money128.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="transaction.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#">
                <img alt="Brand" src="money128.png" style="height: 40px; width: 40px; margin-top: 5px; float: left">
            </a>
            <p class="navbar-text" style="color: black; font-weight: bold">A&H Banking</p>
        </div>
        <ul class="nav navbar-nav">
        <li><a th:href="@{/account}">Account</a></li>
        <li class="active"><a th:href="@{/transaction}">Transactions <span class="sr-only">(current)</span></a></li></ul>
        <p class="navbar-text" style="float: right; color: black; margin-top: 8px; margin-bottom: 0px"><a th:href="@{/logout}"><button class="btn btn-default"><span class="glyphicon glyphicon-off"></span> Logout</button></a></p>
        <p class="navbar-text" style="float: right">Hello, <span th:text="${user.name}"></span>!</p>
    </div>
</nav>

<div class="panel panel-warning center-block">
    <div class="panel-heading" style="text-align: center;">
        <span class="glyphicon glyphicon-usd"></span><b> NEW TRANSFER</b>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <p><h4>Available cash: <b><span style="color:green"><span  th:text="${#numbers.formatDecimal(user.cash, 0, 'WHITESPACE', 2, 'POINT')}" id ="cash">901.0</span> PLN</span></b></h4></p><br>
            </div>
            <div class="col-sm-5">
                <div th:if="${success}" class="alert alert-success alert-dismissible" style="width:100%; padding-top: 8px; padding-bottom: 8px; text-align: center; margin-top: 0px; font-size: 100%; margin-left: 0%">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>Transaction <b>successful</b>!</p>
                </div>
                <div th:if="${error}" class="alert alert-danger alert-dismissible" style="width: 100%; text-align: center; padding-top: 8px; padding-bottom: 8px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>Transaction <b>failed</b>!</p>
                </div>
            </div>
        </div>
        <form th:action="@{/transaction}" th:object="${transaction}" method="post">
            <div class="form-group row">
                <label for="amount" class="col-sm-3 col-sm-offset-1 col-form-label">Amount:</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id = amount th:field="*{amount}" value="" required>
                </div>
                <div class="col-sm-1">
                    <p style="margin-top:7px">PLN</p>
                </div>
            </div>
            <div class="row hidden" id="amountError">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error">&nbsp&nbsp&nbspYou don't have such an amount of money!</p>
                </div>
            </div>
            <div class="row " id="amountError2">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error" th:if="${#fields.hasErrors('amount')}">Amount of cash should be in form 123.23 or 123,23 or 123</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="accountNoTo" class="col-sm-3 col-sm-offset-1 col-form-label">Make transfer to account number:</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control"  th:field="*{accountNoTo}" id="accountNoTo" name="accountNoTo" value="" required>
                </div>
            <div class="row hidden" id="accountNoToError">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error">&nbsp&nbsp&nbspAccount number must have 16 digits!</p>
                </div>
            </div>
            </div>
            <div class="form-group row">
                <label for="title" class="col-sm-3 col-sm-offset-1 col-form-label">Transfer title:</label>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control" style="width:100%" th:field="*{title}" id="title" name="title" value="" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-sm-offset-1 col-form-label">Name and surname:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{name}" id="name" name="name" value="" required>
                </div>
            </div>
            <div class="row hidden" id="nameError">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error">&nbsp&nbsp&nbspName and surname must not constain numbers or special characters!</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="street" class="col-sm-3 col-sm-offset-1 col-form-label">Street:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" th:field="*{street}" id="street" name="street" value="" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="postCode" class="col-sm-3 col-sm-offset-1 col-form-label">Postal code:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" th:field="*{postCode}" id="postCode" name="postCode" value="" required>
                </div>
                <label for="city" class="col-sm-1 col-form-label">City:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" th:field="*{city}" id="city" name="city" value="" required>
                </div>
            </div>
            <div class="row hidden" id="cityError">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error">&nbsp&nbsp&nbspCity must not constain numbers or special characters!</p>
                </div>
            </div>
            <div class="row hidden" id="postCodeError">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error">Post code should be in form XX-XXX</p>
                </div>
            </div>
            <div class="row hidden" id="postCodeError2">
                <div class="col-sm-8 col-sm-offset-4">
                    <p class="error" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}">Post code should be in form XX-XXX</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-sm-offset-7">
                    <button type="submit" class="btn btn-success" style="width: 100%">
                        <span class="glyphicon glyphicon-upload"></span>&nbsp&nbspMake transfer</button>
                </div>
            </div>
            
        </form>
        
    </div>
</div>


</body>
</html>
